$breakpoints: (
  xl: 1441px,
  lg: 1200px,
  md: 1024px,
  sm: 768px,
  xs: 425px,
);

@mixin mq($size) {
  $breakpoint: map-get($breakpoints, $size);
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin boldCenter($size, $marginBottom) {
  font-size: $size;
  font-weight: bold;
  margin-bottom: $marginBottom;
  text-align: center;
}

@mixin retina {
  @media
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      @content;
    }
}