
$background-light-gray: #ECECEC;
$background-dark-gray: #D9D9D9;
$arrow-border-color: #848484;
$font-black-color: #373737;
$footer-bg-color: #181818;
$max-width: 1440px;
$margin-center: 0 auto;
$list-color: #3B72FF;
$emphasis: #3B72FF;